@tailwind base;
@tailwind components;
@tailwind utilities;


.mantine-RichTextEditor-toolbar {
  display: flex;
  justify-content: space-evenly;
}

.mantine-RichTextEditor-content {
  /* height: 100rem; */
}

ol {
  list-style: decimal;
  padding-left: 0 !important;

  /* list-style-position: inside; */
  /* padding: 0 0 0 0 !important; */
}
ol ol{
  padding-left: 1rem !important;

}


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}