@tailwind base;
@tailwind components;
@tailwind utilities;


.mantine-RichTextEditor-toolbar {
  display: flex;
  justify-content: space-evenly;
}

body {
  background-color: #cbeaf1;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='72' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23cecb20' fill-opacity='0.22'%3E%3Cpath d='M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.mantine-RichTextEditor-content {
  /* height: 100rem; */
}

ol {
  list-style: decimal;
  padding-left: 0 !important;

  /* list-style-position: inside; */
  /* padding: 0 0 0 0 !important; */
}

ol ol {
  padding-left: 1rem !important;

}


/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */